/* global values */
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif !important;
}
a {
  text-decoration: none !important;
}
/*colors varabiles  */
:root {
  --white: white;
  --gray: gray;
  --skyblue: skyblue;
  --DarkBlue: rgb(78, 188, 231);
  --error: orangered;
  --Darkerror: #842029;
  --Lighterror: #f8d7da;
}
